* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 50px 25px 75px;
}

button a {
	padding: 6px 8px;
}

.item {
	padding: 10px 0;
}

.item a {
	text-decoration: none;
}

form p {
	padding-top: 10px;
}

.messages {
	list-style: none;
	padding: 20px 10px;
	margin: 10px 0;
	background-color: #a7350c;
	color: #481705;
}

/* Home */
.addRestaurant, .addItem {
	position: fixed;
	top: 50px;
	right: 25px;
	background-color: #fff;
}