<!DOCTYPE html>
<html>
<head>
	<title>Delete menu item</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}"></link>
	<link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro" rel="stylesheet">
</head>
	
<body>
	<div class="content">
		<h1>{{restaurant.name}}</h1>
		<h3>Are you sure you want to delete {{item.name}}?</h3>
		<form action="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = item.id)}}" method="post">
			<p>
				<button><a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Cancel</a></button>
				<input type="submit" name="Delete">
			</p>
		</form>
	</div>
</body>
</html>